<%= turbo_stream_from "bulb" %>

<h1><%= session[:name] %></h1>

<%= turbo_frame_tag 'bulbs' do %>
   <%= render 'bulbs/bulb', bulb: @bulb %>
<% end %>

<%= link_to "Change", change_path, class: "btn btn--primary", data: { turbo_frame: 'bulbs' } %>

<br>
  logs
  <br>
  <%= turbo_frame_tag 'logs' do %>
    <%= render @logs %>
  <% end %>
